In [ ]:
#Name: Pulak Deb Roy
#ID: 21201703
#CSE110 Theory Section: 14

In [25]:
#task1
my_list= [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]

for i in range(len(my_list)-1):
  for j in range(len(my_list)-1-i):
    if my_list[j] > my_list[j+1]:
      my_list[j],my_list[j+1] = my_list[j+1],my_list[j]
print(my_list)

[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

In [7]:
#task2
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]

lis=[]
for ind in range(len(my_list)):
  ascending = min(my_list)
  lis.append(ascending)
  my_list.remove(ascending)
print(lis)

[1, 2, 2, 3, 5, 6, 10, 11, 12, 14, 15, 17, 18, 20, 29]

In [4]:
#task3
my_list = [10, 1, 20, 3, 6, 2, 5, 11, 15, 2, 12, 14, 17, 18, 29]

lis=[]
for ind in range(len(my_list)):
  decending = max(my_list)
  lis.append(decending)
  my_list.remove(decending)
print(lis)

[29, 20, 18, 17, 15, 14, 12, 11, 10, 6, 5, 3, 2, 2, 1]

In [11]:
#task4
sitting_list = [10,30,20,70,11,15,22,16,58,100,12,56,70,80]

for i in range(len(sitting_list)-2):
    for j in range (len(sitting_list)-i-2):
        if j%2 !=0 :
            if sitting_list[j]< sitting_list[j+2]:
                sitting_list[j], sitting_list[j+2]= sitting_list[j+2], sitting_list[j]
        else:
             if sitting_list[j]> sitting_list[j+2]:
                    sitting_list[j], sitting_list[j+2]= sitting_list[j+2], sitting_list[j]

print(sitting_list)

[10, 100, 11, 80, 12, 70, 20, 56, 22, 30, 58, 16, 70, 15]

In [15]:
#task5
lst = [ ["Alan", 95, 87, 91], ["Turing", 92, 90, 83], ["Elon", 87, 92, 80], ["Musk", 85, 94, 90] ]

var = input("enter: ")
var = var.upper()

if var == "CSE110":
  index_i = 1
elif var == "PHY111":
  index_i = 2
else: 
  index_i = 3

for i in range(len(lst)-1):
  for j in range(len(lst)-1-i):
    if lst[j][s_i] < lst[j+1][s_i]:
      x = lst[j]
      lst[j] = lst[j+1]
      lst[j+1] = x
      
for z in lst:
  print(z[0])

enter: mat110
Musk
Elon
Turing
Alan

In [19]:
#task6
my_list = [4, 2, 3, 1, 6, 5]
var = my_list.copy()
for i in range(len(my_list)-1):
  for j in range(len(my_list)-1-i):
    if my_list[j] > my_list[j+1]:
      x = my_list[j]

      my_list[j] = my_list[j+1]
      my_list[j+1] = x
print(my_list)
counter = 0
for index in range(len(my_list)):
  if my_list[index]!= var[index]:
    counter+=1
print(counter)

[1, 2, 3, 4, 5, 6]
4

In [20]:
#task7
list_one = [1, 2, 1, 4]
list_two = [5, 4, 1]

var = list_one + list_two
for i in range(len(var)-1):
  for j in range(len(var)-1-i):
    if var[j] > var[j+1]:
      x = var[j]
      var[j] = var[j+1]
      var[j+1] = x

if len(var)%2!=0:
  a = int(len(var)/2)
  median=var[a]
else:
  b= int(len(var)/2)
  avg =(var[b]+var[b-1])/2
  median=avg
print("Sorted list=",var)
print("Median=",median)

Sorted list= [1, 1, 1, 2, 4, 4, 5]
Median= 2

In [22]:
#task8
list_one = [-10, 15, 2, 4, -4, 7, -8]

x= abs(list_one[0]+list_one[1])
sum=0
var1=list_one[0]
var2=list_one[1]
for i in range(0,len(list_one)):
  for j in range(1,len(list_one)):
    sum =abs(list_one[i]+list_one[j])
    if sum < x:
      x=sum
      var1=list_one[i]
      var2=list_one[j]
print("Two pairs which have the smallest sum =",var1,"and",var2)

Two pairs which have the smallest sum = 4 and -4

In [23]:
#task9
import math
points = [(5,3), (2,9), (-2,7), (-3,-4), (0,6), (7,-2)]
a,b= points[0]
var= math.sqrt(a**2 + b**2)
min= points[0]
for i in range(len(points)):
    a,b=points[i]
    dis=math.sqrt(a**2 + b**2)
    
    if dis<var:
        var=dis
        min=points[i]
print("Minimum distance =",var)
print(f"Here the closest point is {min} which has a distance of {var} from the origin.")

Minimum distance = 5.0
Here the closest point is (-3, -4) which has a distance of 5.0 from the origin.