In [ ]:
#TASK 1
def even_checker(num):
  if num%2==0:
    return 'Even'
  else:
    return 'Odd'

print(even_checker(5))

Odd

In [ ]:
#TASK 2
def fibonacci(num):
  a = 0
  b = 1
  print(a,end=" ")
  print(b,end=" ")

  for i in range(2,num):
    c = a + b
    a = b
    b = c
    if c <= num:
      print(c,end=" ")

fibonacci(10)

0 1 1 2 3 5 8

In [ ]:
#TASK 3
def foo_moo(num):
  if num%2==0 and num%3==0:
    return 'FooMoo'
  elif num%2==0:
    return 'Foo'
  elif num%3==0:
    return 'Moo'
  else:
    return 'Boo'

print(foo_moo(3))

Moo

In [ ]:
#TASK 4
def function_name(var):
  up=0
  low=0
  for i in var:
    a = ord(i)
    if a>=97 and a<=122:
      low += 1
    elif a>=65 and a<=90:
      up += 1
    
  print("No. of Uppercase characters :", up)
  print("No. of Lowercase characters :", low)

function_name('The quick Sand Man')

No. of Uppercase characters : 3
No. of Lowercase characters : 12

In [ ]:
#TASK 5
def calculate_tax(age,salary,job):
  job = job.lower()

  if age<18 or job == 'president' or salary <=10000:
    return 0
  elif salary>10000 and salary<=20000:
    return salary*0.05
  elif salary>20000:
    return salary*0.1

var1 = int(input('Age: '))
var2 = int(input('Salary: '))
var3 = input('Job: ')

calculate_tax(var1,var2,var3)

Age: 20
Salary: 18000
Job: manager

900.0

In [ ]:
#TASK 6
def time(num):
  year = num // 365
  num = num - (365*year)
  month = num // 30
  day = num - (30*month)

  print('{} years, {} months and {} days'.format(year,month,day))

var = int(input())
time(var)

4330
11 years, 10 months and 15 days

In [ ]:
#TASK 7
def show_palindrome(num):
  count = 0
  temp = ""

  for i in range(1,num+1):
    i = str(i)
    temp += i
  
  for j in range(1,num):
    count = num - j
    temp += str(count)

  print(temp)

show_palindrome(5)

123454321

In [ ]:
#TASK 8
def show_palindromic_triangle(num):
  row = 1 
  digit = num - 1
  
  for i in range(1, num+1):
    count=0
    for j in range(1, digit+1):
      print(" ",end=" ")
    for k in range(1,row+1):
      if k<=i:
        count=count +1 
      else:
        count=count-1
      print(count,end=" ")
    print()
    row += 2
    digit -= 1
show_palindromic_triangle(5)

        1
      1 2 1
    1 2 3 2 1
  1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [ ]:
#TASK 9
def area_circumference_generator(num):
  import math 
  area = math.pi * num**2
  circumference = 2 * math.pi * num 
  return (area,circumference)
  print("Area of the circle is", area, "and", "circumference is", circumference)

area_circumference_generator(1)

Area of the circle is 3.141592653589793 and circumference is 6.283185307179586

In [ ]:
#TASK 10
def make_square(num1,num2):
  dic = {}
  for i in range(num1,num2+1):
    new = i**2
    dic[i] = new
  return(dic)

make_square(5,9)

{5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#TASK 11
def rem_duplicate(num):
  lst = []
  for i in num:
    if i not in lst:
      lst.append(i)

  return tuple(lst)
rem_duplicate((1,1,1,2,3,4,5,6,6,6,6,4,0,0,0))

(1, 2, 3, 4, 5, 6, 0)

In [ ]:
#TASK 12
def func_name(lst):
  var=[]
  for i in lst:
    if var.count(i)<2:
     var.append(i) 
  print("Removed:",len(lst)-len(var))
  print(var)
func_name([1, 2, 3, 3, 3, 3, 4, 5, 8, 8])

Removed: 2
[1, 2, 3, 3, 4, 5, 8, 8]

In [ ]:
#TASK 13
def basic_calculation(sign,num1,num2):
  sum = 0
  if sign == "+":
    sum = num1+num2
  elif sign == "-":
    sign = num1-num2
  elif sign == "*":
    sum = num1*num2
  elif sign =="/":
    sum = num1/num2
  return sum

a=input()
b=float(input())
c=float(input())
basic_calculation(a,b,c)

*
5
6

30.0

In [2]:
#TASK 14
def function_name(sentence,position):
  new = ""
  temp = ""
  count = 0

  for i in sentence:
    if count == 0:
      new+=i
    elif count%position != 0:
      new+=i
    else:
      temp+=i
    count+=1
  new += temp  
  print(new)

var = input()
var2 = int(input())

function_name(var,var2)

I love programming
3
I lveprgrmmngo oai

In [3]:
#TASK 15
def function_name(lst,location="Dhanmondi"):
    dic = {"Rice":105,"Potato":20,"Chicken":250,"Beef":510,"Oil":85}
    total = 0
    for i in lst:
        total += dic[i]
    if location == "Dhanmondi" or location == "":
        total += 30
    else:
        total += 70
    return total

lst = input()
lst = lst[1:-1]
lst = lst.split(", ")

final = []
for i in lst:
    i = i[1:-1]
    final.append(i)

location = input()
print(function_name(final,location))

["Rice", "Beef", "Rice"]

750