In [1]:
#1(a)
def factorial(n):
  if n == 1:
    return 1
  
  a = n*factorial(n-1)
  return a

print(factorial(3))

6

In [2]:
#1(b)
def fibonacci(n):
  if n <= 1:
    return n
  
  sum = fibonacci(n-1) + fibonacci(n-2)
  return sum

print(fibonacci(10))

55

In [3]:
#1(c)
def recursive(n,i):
  if i == len(n):
    return 
  print(n[i])
  recursive(n,i+1)

n = (1,2,3,4,5)  
recursive(n,0)

1
2
3
4
5

In [4]:
#1(d)
def recursive(n,i):
  if i == 0:
    return 1
  else:
    sum = n**i
    return sum

print(recursive(3,3))

27

In [5]:
#2(a)
def conversion(n):
  if n == 0:
    return n
  else:
   sum = conversion(n//2)*10 + (n % 2)
   return sum

print(conversion(5))

101

In [7]:
#2(b)
class Node:
  def __init__(self,e,n=None):
    self.element = e
    self.next = n

class Linkedlist:
  def __init__(self,a):
    self.head = None
    tail = None

    for i in a:
      new_node = Node(i)
      if self.head == None:
        self.head = new_node
        tail = new_node
      else:
        tail.next = new_node
        tail = new_node

  def sum_add(self, head):
    if head is None:
      return 0
    else:
      return head.element + self.sum_add(head.next)

  def sum(self):
    return self.sum_add(self.head)

a = [1,2,3,4,5]
obj = Linkedlist(a)
print(obj.sum())

15

In [8]:
#2(c)
class Node:
  def __init__(self, e):
    self.element = e
    self.next = None


class linklist:
  def __init__(self, array):
    self.head = None
    tail = None
    for i in array:
      new_node = Node(i)
      if self.head == None:
        self.head = new_node
        tail = new_node
      else:
        tail.next = new_node
        tail = new_node

  def reverse(self, head):
    if head.next is None:
      print(head.element)
    else:
      self.reverse(head.next)
      print(head.element)

  def reverse_print(self):
    return self.reverse(self.head)


array = [10,20,30,40]
listlinked = linklist(array)
listlinked.reverse_print()

40
30
20
10

In [9]:
def hocBuilder(height):
    if height == 0:
        return 0
    elif height == 1:
        return 8
    else:
        return 5+hocBuilder(height-1)


height = int(input())
print(hocBuilder(height))

3
18

In [10]:
#4(a)
def outter_recurssion(n):
  if n == 0:
    return n
  
  outter_recurssion(n-1)
  print(n,end=" ")


def inner_recurssion(n):
  if n == 0:
    return n
  
  inner_recurssion(n-1)
  outter_recurssion(n)
  print()

n = int(input())
inner_recurssion(n)

5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
#4(b)
def outter_recurssion(n):
  if n == 0:
    return n
  else:  
    outter_recurssion(n-1)
    print(n,end="")

def inner_recurssion(n,i):
  if n == 0:
    return n 
  else:  
    space(n-1)
    outter_recurssion(i-n+1)
    print()
    inner_recurssion(n-1,i)

def space(n):
  if n == 0:
    return 0
  else:
    space(n - 1)
    print("", end="")

n = int(input())
inner_recurssion(n,n)

5
1
12
123
1234
12345

In [15]:
#5
class FinalQ: 


  def print(self,array,idx): 

   if(idx<len(array)): 
    profit = self.calcProfit(array[idx])  
    print("Investment: ${}, Profit: ${}".format(array[idx], profit))
    self.print(array,idx+1)

  def calcProfit(self,investment): 
    if investment == 25000:
      return 0

    if investment > 25000 and investment <= 100000:
        return 45 + self.calcProfit(investment-1000)
    else:
       investment > 100000
       return 80 + self.calcProfit(investment-1000)
    
  
#Tester 
array=[25000,100000,250000,350000] 
f = FinalQ() 
f.print(array,0)

Investment: $25000, Profit: $0
Investment: $100000, Profit: $3375
Investment: $250000, Profit: $15375
Investment: $350000, Profit: $23375

In [16]:
#TASK 2
def flatenlist(givenlist,newlist=[]):
 
  if givenlist==[]:
   
    return 0
  else:
    if type(givenlist[0])==list:
       flatenlist(givenlist[0],newlist)
     
    else:
      newlist.append(givenlist[0])
    
  flatenlist(givenlist[1:],newlist)
  return newlist

print(flatenlist([1, [2, [3, [4], 5], 6], 7, 8, [9, [[10, 11], 12], 13], 14, [15, [16, [17]]]]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]